.container {
  padding-top: 50px;
}
h1#head {
  text-align: center;
  color: #FFF4E0;
  font-style: italic;
}
body {
  background-color: #00ADB5;
}
p {
  color: #FC3C3C;
}
.jumbotron {
  background-color: #FFF4E0;
}
